h1.index-h1 {
  color: black;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin: 50px auto;
  text-align: center;
}

h1.index-h1::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #00ffcc; /* couleur verte */
  position: absolute;
  bottom: -5px; /* ajustez selon vos besoins */
  left: 0;
}

.card-title,

.d-flex div {
  font-family: $body-font;
}

.bg-custom {
  background-color: #DCFFF3; /* Remplacez par votre couleur hexadécimale */
}

.btn-custom-text{
  color: white;
  font-family: $body-font;
}

.modal-title{
  font-family: 'Gotham' , sans-serif;
}
