/* app/assets/stylesheets/pages/_home.scss */

.banner {
  background-size: cover;
  background-position: center;
  padding: 225px 0;
  height: 650px;
}

.headline {
  font-size: 50px;
  font-weight: 700;
  color: #27CE8D;
}

.subheadline{
  color: #FFFFFF;
  padding-bottom: 20px;
}

#container {
  margin-left: 50px;
}

.search {
  background: none;
  position: absolute;
  left: 473px;
  border: none;
  margin-top: 7px;
}

.search-bar {
  position: relative;
  display: flex;
  width: 540px;
}

.form-control {
  border-radius: 30px;
  padding-right: 40px; /* Adjust for the search icon */
}

.autocomplete-container {
  width: 100%;
}

#autocomplete-results {
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 1000;
  background-color: white;
  border-radius: 0 0 5px 5px;
}

#autocomplete-results li {
  padding: 10px;
  cursor: pointer;
}

#autocomplete-results li:hover {
  background-color: #f0f0f0;
}
