.dashboard-container {
  background-color: white;
}

.container {
  margin-left: 3%;
  grid-gap: 100px;
}

.project-cards {
  display: grid;
  grid-gap: 20px;
}

.project-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 250px;
  border: 2px solid #E5E5E5;
  list-style: none;
}

.list {
  list-style: none;
  margin-bottom: 42px;
}

.carousel-inner {
  margin: 0 auto;
  width: 97%;
}

.carousel-item {
  background-color: white;
}

.carousel-control-prev {
  padding-right: 130px;
  margin-top: 200px;
}

.carousel-control-next {
  padding-left: 130px;
  margin-top: 200px;
}

.dashboard-h1 {
  text-align: center;
  border-bottom: 5px solid #3BFFDB;
  width: 265px;
  margin-left: 40%;
  padding-top: 100px;
  font-family: 'Gotham';
}

.second-header {
  font-family: 'Gotham';
  margin-top: 45px;
}

.project-name {
  font-family: 'Josefin Sans';
  font-size: 25px;
}

.property-name {
  font-family: 'Josefin Sans';
  font-size: 22px;
}


.details-button {
  background-color: #27CE8D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 12px;
}

.modify-button {
  color: #3F3F3F;
  border: 1px solid #3F3F3F;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 90px;
  text-decoration: none;
  font-size: 12px;
}

.delete-button {
  color: #FF3F3F;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 17px;
}
