<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.mos.cms.futurecdn.net/MNi7KjdM9nP5DcVMFAEuHQ.jpg);">
  <div id="container" class="col-sm-8 my-3">
    <h1 class="headline">Libérez votre potentiel.</h1>
    <div class="search-bar">
      <input type="text" id="address-search" placeholder="Entrez l’adresse de votre propriété" class="form-control">
      <button type="button" class="search">
        <i class="fa-solid fa-magnifying-glass" style="color: #27CE8D;"></i>
      </button>
      <ul id="autocomplete-results" class="list-group mt-1"></ul>
    </div>
  </div>
</div>
