h1.index-h1 {
  color: black;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin: 50px auto;
  text-align: center;
}

h1.index-h1::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #00ffcc; /* couleur verte */
  position: absolute;
  bottom: -5px; /* ajustez selon vos besoins */
  left: 0;
}

.card-title,

.d-flex div {
  font-family: $body-font;
}

.bg-custom {
  background-color: #DCFFF3; /* Remplacez par votre couleur hexadécimale */
}

.btn-custom-text{
  color: white;
  font-family: $body-font;
}

.modal-title{
  font-family: 'Gotham' , sans-serif;
}


h1.title-property-new {
  color: black;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin: 50px auto;
  text-align: center;
}

h1.title-property-new::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #00ffcc; /* couleur verte */
  position: absolute;
  bottom: -5px; /* ajustez selon vos besoins */
  left: 0;
}

#title-container-property-new {
  text-align: center;
}

.card-map-form {
  display: flex;

  gap: 20px; /* Ajustez l'espace entre les éléments */
}

#home-map {
  flex: 1;
  width: 40%; /* Vous pouvez ajuster ce pourcentage selon vos besoins */


  border-radius: 10px;
}

.card-simple-form {
  flex: 1;
  width: 50%;
  height: auto; /* Vous pouvez ajuster ce pourcentage selon vos besoins */
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin : auto;

}

h3.title-property-form {
  color: black;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin: 50px auto;
  text-align: center;
}

h3.title-property-form::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #00ffcc; /* couleur verte */
  position: absolute;
  bottom: -5px; /* ajustez selon vos besoins */
  left: 0;
}

.search-bar-index {
  width: 540px;

}

.index-scroll{
  height: calc(-55px + 100vh);
  overflow-y: scroll;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px inset;
  background: rgb(242, 242, 242);
  transition: all 0.3s ease 0s;
  border-right: 1px solid rgb(229, 229, 229);
  height: 450px;
  border : none
}

.index-card {
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

#index-card-h3{
  color: black;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
}

#index-card-h3::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #00ffcc; /* couleur verte */
  position: absolute;
  bottom: -2px; /* ajustez selon vos besoins */
  left: 0;
}
