.container {
  background-color: white;
  width: 100%;
  height: 100%;
}
.property-show-h1 {
  text-align: center;
  border-bottom: 5px solid #3BFFDB;
  width: 534px;
  margin-left: 30%;
  padding-top: 100px;
  font-family: 'Gotham';
}

.info-box {
  margin-top: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.last-info-box {
  margin-top: 15px;
  margin-bottom: 50px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.return-to-dashboard-button {
  background-color: #27CE8D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 30px;
  margin: 124px;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.property-show-address {
  font-family: 'Gotham';
  font-size: 25px;
  border-bottom: 2px solid #3BFFDB;
  text-align: center;
  margin-bottom: 35px;
}

.property-info-container {
  margin-bottom: 50px;
}
